.WebappCard {
    position: relative;
}

.WebappCard-Link {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    line-height: 20px;
    text-align: center;
    font-size: 1.25em;
}
