.Button {
    --Button-size: 40px;
    --Button-color: var(--color-accent);
    --Button-color-hover: var(--color-accent-lighter);

    position: relative;
    min-width: var(--Button-size);
    height: var(--Button-size);
    background-color: var(--Button-color);
    border: 0;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Button_default {
    padding: 0 16px;
    font-size: 1.125rem;
    color: var(--color-font-alt);
}

.Button_default:disabled {
    filter: opacity(0.75) grayscale(0.25);
}

.Button_link {
    --Button-size: initial;
    --Button-color-hover: transparent;

    padding: 0;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
}

.Button_link:not(:disabled) {
    color: var(--Button-color);
}

.Button:not(:disabled):hover {
    cursor: pointer;
}

.Button:not(:disabled):not(:active):hover {
    background-color: var(--Button-color-hover);
}
