.theme-light {
    /** BACKGROUND */
    --color-ui-bg: hsl(0, 0%, 93%);

    /* Cards and Widgets */
    --color-ui-fg: hsl(0, 0%, 100%);

    --color-ui-border: hsl(0, 10%, 80%);
    --color-ui-shadow: hsl(0, 0%, 50%);

    /** FONT */
    --color-font-main: hsl(0, 0%, 0%);
    --color-font-sub: hsl(0, 0%, 50%);
    --color-font-alt: hsl(0, 0%, 100%);
    --color-font-disabled: hsl(0, 0%, 70%);

    /** BACKGROUND & FONT */
    /* Main action button and links */
    --color-accent: hsl(215, 80%, 55%);
    --color-accent-lighter: hsl(215, 80%, 60%);
    /* XP logo, other corporate links */
    --color-xp: hsl(10, 85%, 55%);
    --color-xp-lighter: hsl(10, 85%, 60%);

    /** COMPLEX STYLES */
    --ui-box-shadow: 1px 1px 5px 0 hsla(0, 0%, 0%, 0.20), 0 5px 16px 0 hsla(0, 0%, 0%, 0.05);
}
