.AdminCard {
    background: linear-gradient(250deg, hsl(220, 10%, 5%), hsl(0, 0%, 35%));
    color: var(--color-font-alt);
}

.AdminCard .Card-Subtitle {
    color: var(--color-font-disabled);
}

.AdminCard-ActionLogin {
    --Button-color: var(--color-xp);
    --Button-color-hover: var(--color-xp-lighter);

    margin: 24px 0 0;
}

.AdminCard-ActionCreate {
    --Button-color: var(--color-font-alt);
    --Button-color-hover: var(--color-font-alt);

    height: var(--Button-size);
}

.AdminCard-ActionCreate::before {
    content: '…';
}
