.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: var(--size-ui-width);
    height: 112px;
    margin: 0 auto;
    font-size: 1rem;
}

.Header-Title {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
}

.Header-Subtitle {
    margin: 0 0 0 0.35em;
    font-size: 0.875em;
    font-weight: 600;
    color: var(--color-font-sub);
}
