.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: var(--size-ui-width);
    margin: 0 auto;
    padding: 24px 0 32px;
    font-size: 1rem;
}

.Header-Title {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
}

.Header-Subtitle,
.Header-Navigator {
    margin: 4px 0 0 0.35em;
    font-size: 0.875em;
    font-weight: 600;
}

.Header-Subtitle {
    color: var(--color-font-sub);
}

@media screen and (max-width: 560px) {
    .Header {
        padding: 0 0 24px;
    }
}
