.Panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-width: var(--size-ui-width);
    margin: 0 auto;
    font-size: 1rem;
}

.Panel-Description {
    grid-column: 1 / -1;
    margin: 0 0 8px;
    font-size: 1em;
    font-weight: 400;
}

.Panel-EmptyHint {
    position: absolute;
    grid-column: 1 / -1;
    width: 256px;
    height: 120px;
    top: calc(50vh - 60px);
    left: calc(50vw - 128px);
}

@media screen and (max-width: 720px) {
    .Panel {
        grid-template-columns: 1fr;
    }
}
