.CreateUserButton {
    --Button-size: 40px;
    --Button-color: var(--color-font-alt);
    --Button-color-hover: var(--color-font-alt);

    margin: 0 auto;
}

.CreateUserButton::before {
    content: '…';
}
