.noninteractive {
    pointer-events: none;
    user-select: none;
}

.ellipsis {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}

.sub {
    color: var(--color-font-sub);
}

.accent {
    color: var(--color-accent);
}

.bold {
    font-weight: 600;
}

.underline {
    text-decoration: underline;
}

.card {
    border-radius: 2px;
    background-color: var(--color-ui-fg);
    box-shadow: 0 0 2px var(--color-ui-shadow);
}
